brave_product_name = Brave
brave_project_name = brave
brave_services_key = qjVKcxtUybh8WpKNoQ7EbgbkJTMu7omjDHKk=VrPApb8PwJyPE9eqchxedTsMEWg
safe_browsing_api_endpoint=safebrowsing.brave.com
updater_prod_endpoint=https://go-updater.brave.com/extensions
updater_dev_endpoint=https://go-updater-dev.bravesoftware.com/extensions
sccache=sccache
